@import url("https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,400,700,900&display=swap");
@import "bootstrap-4.4.1/scss/bootstrap-grid.scss";

* {
    margin: 0;
    padding: 0;
}

.blog {
    background-color: #b07cf7;
    padding-top: 80px;
    padding-bottom: 120px;
    @include media-breakpoint-down(md) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @include media-breakpoint-down(sm) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.article {
    text-align: center;
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    &__title {
        font-size: 90px;
        font-weight: bold;
        margin-bottom: 25px;
    }
    &__subtitle {
        font-size: 17px;
        line-height: 1.471;
        font-weight: 300;
    }
}

.group {
    width: 1170px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.blog-card {
    width: 100%;
    height: 0;
    padding-top: 83.8%;
    position: relative;
    box-sizing: border-box;
    background-color: rgb(251, 251, 247);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    border: none;
    overflow: hidden;
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__gradient {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0) 100%
        );
    }
    &:hover &__hover-cover {
        opacity: 0.2;
    }
    &__hover-cover {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0px;
        background-color: black;
        opacity: 0;
        transition: opacity 0.1s ease-in;
    }
    &__date {
        border-radius: 5px;
        background-color: rgba(38, 38, 38, 0.5);
        position: absolute;
        left: 30px;
        top: 30px;
        width: 60px;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & div:first-child {
            font-size: 32px;
            font-family: "Raleway";
            color: rgb(255, 255, 255);
            font-weight: bold;
            line-height: 0.781;
        }
        & div:last-child {
            font-size: 21px;
            font-family: "Raleway";
            color: rgb(255, 255, 255);
            line-height: 1.19;
            font-weight: 900;
        }
        @include media-breakpoint-down(md) {
            left: 10px;
            top: 10px;
            transform: scale(0.6);
        }
    }
    &__title {
        font-size: 20px;
        font-family: "Raleway";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.25;
        text-align: left;
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 55px;
    }
    &__subtitle {
        font-size: 13px;
        font-family: "Raleway";
        color: rgb(255, 255, 255);
        font-weight: 300;
        line-height: 1.25;
        text-align: left;
        position: absolute;
        left: 20px;
        bottom: 22px;
    }
}

$button-red: rgb(247, 43, 59);
.button {
    background-color: $button-red;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    height: 55px;
    font-size: 20px;
    font-family: "Raleway";
    color: white;
    line-height: 55px;
    text-align: center;
    &:hover {
        background-color: darken($button-red, 10%);
    }
}
