@import url("https://fonts.googleapis.com/css?family=Pacifico|Raleway:300,400,700,900&display=swap");
@import "bootstrap-4.4.1/scss/bootstrap-grid.scss";

* {
    margin: 0;
    padding: 0;
}

// ========================  Common Blocks

.article {
    font-family: "Raleway";
    color: rgb(255, 255, 255);
    &--center {
        text-align: center;
    }
    &--black {
        color: rgb(38, 38, 38);
    }
    &__title {
        font-size: 90px;
        font-weight: bold;
        margin-bottom: 25px;
        @include media-breakpoint-down(md) {
            font-size: 70px;
        }
        &--low {
            font-size: 60px;
        }
    }
    &__text {
        font-size: 17px;
        line-height: 1.471;
        font-weight: 300;
        margin-bottom: 10px;
    }
}

$button-red: rgb(247, 43, 59);
$button-orange: #ff6033;
$button-blue: #5585a2;
.button {
    background-color: $button-red;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
    height: 55px;
    font-size: 20px;
    font-family: "Raleway";
    color: white;
    line-height: 55px;
    text-align: center;
    transition: background-color 0.1s ease-in;
    &:hover {
        background-color: darken($button-red, 10%);
    }
    &--orange {
        background-color: $button-orange;
        &:hover {
            background-color: darken($button-orange, 10%);
        }
    }
    &--blue {
        background-color: $button-blue;
        &:hover {
            background-color: darken($button-blue, 10%);
        }
    }
    &:active {
        background-color: black;
        color: white;
    }
}

.h100 {
    height: 100%;
}

// ======================== Page Blocks

// ------ Navigation Block

.navigation {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: (147px - 70px)/2;
    padding-bottom: (147px - 70px)/2;
    &__logo {
        font-size: 50px;
        line-height: 70px;
        font-family: "Pacifico";
        color: rgb(38, 38, 38);
    }
    &__items {
        list-style: none;
        display: flex;
        justify-content: space-between;
        & li {
            font-size: 16px;
            font-family: "Raleway";
            color: rgb(38, 38, 38);
            font-weight: bold;
            height: 40px;
            box-sizing: border-box;
            display: flex;
            align-items: center;
            &:hover {
                border-top: 3px solid #ff6033;
                border-bottom: 3px solid #00000000;
            }
            &:active {
                border-top: 3px solid black;
            }
            & a {
                text-decoration: none;
                color: rgb(38, 38, 38);
            }
        }
    }
}

// ------ Header Block
@keyframes header__scroll-bounce {
    0% {
        bottom: 5vh;
    }
    2% {
        bottom: 6vh;
    }
    4% {
        bottom: 5vh;
    }
    6% {
        bottom: 6vh;
    }
    8% {
        bottom: 5vh;
    }
    10% {
        bottom: 6vh;
    }
    14% {
        bottom: 3vh;
    }
    16% {
        bottom: 5vh;
    }

    100% {
        bottom: 5vh;
    }
}

.header {
    background-image: url(images/header_bg.jpg);
    background-size: cover;
    background-position: center;
    background-color: #faf9fb;
    padding-top: 40px;
    padding-bottom: 60px;
    height: 96vh;
    position: relative;
    &__scroll {
        position: absolute;
        bottom: 5vh;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        animation-name: header__scroll-bounce;
        animation-duration: 5s;
        animation-delay: 2s;
        animation-iteration-count: infinite;
    }
}

// ------ About us Block
.about-us {
    background-color: #00b1b1;
    padding-top: 40px;
    padding-bottom: 60px;
    &__image {
        max-width: 100%;
    }
    & .article {
        @include media-breakpoint-down(sm) {
            text-align: center;
        }
    }
}

// ------ Services Block
.services {
    background-color: #70bfff;
    position: relative;
    &__background {
        background-image: url(images/services.png);
        background-repeat: no-repeat;
        background-position-y: center;
        background-position-x: right;
        background-size: contain;
        position: absolute;
        top: 100px;
        left: 0;
        right: 0;
        bottom: 180px;
    }
    &__content {
        padding-top: 179px;
        padding-bottom: 150px;
        @include media-breakpoint-down(md) {
            padding-top: 40px;
            padding-bottom: 40px;
        }
    }
    &__button {
        background-color: white;
        box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
        height: 100px;
        margin-bottom: 20px;
        display: flex;
        justify-content: space-between;
        &-text {
            display: flex;
            justify-content: center;
            align-items: center;
            padding-left: 20px;
            padding-right: 20px;
            overflow: hidden;
            font-size: 20px;
            flex-grow: 1;
            font-family: "Raleway";
            color: rgb(38, 38, 38);
            font-weight: bold;
            text-align: center;
        }
        &-image {
            flex-shrink: 0;
            border-left: 1px solid #9d9d9d;
            width: 100px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        &:hover {
            background-color: darken(white, 10%);
        }
    }
}

.gallery {
    background-color: #ffe92f;
    padding-top: 80px;
    padding-bottom: 120px;
    @include media-breakpoint-down(md) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @include media-breakpoint-down(sm) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
        box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.5);
        position: relative;
    }
}

// ------ Blog Block
.blog {
    background-color: #b07cf7;
    padding-top: 80px;
    padding-bottom: 120px;
    @include media-breakpoint-down(md) {
        padding-top: 40px;
        padding-bottom: 40px;
    }
    @include media-breakpoint-down(sm) {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.blog-card {
    width: 100%;
    height: 0;
    padding-top: 83.8%;
    position: relative;
    box-sizing: border-box;
    background-color: rgb(251, 251, 247);
    box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.5);
    position: relative;
    border: none;
    overflow: hidden;
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    &__gradient {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.9) 0%,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0) 100%
        );
    }
    &:hover &__hover-cover {
        opacity: 0.2;
    }
    &:active &__hover-cover {
        opacity: 0.4;
    }
    &__hover-cover {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        top: 0px;
        background-color: black;
        opacity: 0;
        transition: opacity 0.1s ease-in;
    }
    &__date {
        border-radius: 5px;
        background-color: rgba(38, 38, 38, 0.5);
        position: absolute;
        left: 30px;
        top: 30px;
        width: 60px;
        height: 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        & div:first-child {
            font-size: 32px;
            font-family: "Raleway";
            color: rgb(255, 255, 255);
            font-weight: bold;
            line-height: 0.781;
        }
        & div:last-child {
            font-size: 21px;
            font-family: "Raleway";
            color: rgb(255, 255, 255);
            line-height: 1.19;
            font-weight: 900;
        }
        @include media-breakpoint-down(md) {
            left: 10px;
            top: 10px;
            transform: scale(0.6);
        }
    }
    &__title {
        font-size: 20px;
        font-family: "Raleway";
        color: rgb(255, 255, 255);
        font-weight: bold;
        line-height: 1.25;
        text-align: left;
        position: absolute;
        left: 20px;
        right: 20px;
        bottom: 55px;
    }
    &__subtitle {
        font-size: 13px;
        font-family: "Raleway";
        color: rgb(255, 255, 255);
        font-weight: 300;
        line-height: 1.25;
        text-align: left;
        position: absolute;
        left: 20px;
        bottom: 22px;
    }
}
